* {
  scrollbar-color: #b99f48 black !important;
  scrollbar-width: thin;
}

.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

input {
  border: 1px solid #ffc107;
  border-radius: 10px;
  height: 64px;
  box-shadow: none;
  padding-left: 20px;
  font-size: 1rem;
  width: 100%;
}

.dropdown:hover > .dropdown-menu{
  display: block;
}

.dropdown-item:hover {
  background-color: black;
  text-decoration: underline #ffc107;
  text-decoration-thickness: from-font;
}